*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* header */

.header{
    width: 100%;
    height: 1000px;
    background: #659999;
    background: -webkit-linear-gradient(to right, hsla(180, 54%, 40%, 0.315), hsla(25, 45%, 46%, 0.301)), url(../images/ilustraciones/Ilustracion2.png);
    background: linear-gradient(to right, hsla(180, 54%, 40%, 0.315), hsla(25, 45%, 46%, 0.301)), url(../images/ilustraciones/Ilustracion2.png);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

/* scroll-website */

::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb{
    background: rgb(240, 114, 114); ;
    border-radius: 3opx;
}

::-webkit-scrollbar-thumb:hover{
    background: #eb7676;
}

::-webkit-scrollbar-track{
    background: #595959;
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}

/* navegador/textos/img-logo  */

.contenedor-nav {
    padding: 0px 30px 15px 0;
    background-color: hsla(0, 0%, 9%, 0.712);
    text-align: center;
    font-family: sans-serif;
    font-weight: 800;
    color: white;
    z-index: 2;
}


.contenedor-nav__h1 {
    font-size: 30px;
    padding: 20px 70px 10px 10px;
    line-height: 2;
    color: white;
    text-align: left;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 800;
    display: flex;
    flex-direction: row;
}


.contenedor-nav__text {
    font-size: 20px;
    text-decoration: none;
}

.menu-nav {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0%;
    width: 50%;
    max-width: 1000px;
    margin: auto;
}

.menu-nav li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
}

.menu-nav li {
    display: inline-block;
    text-align: center;
}

.menu-nav li a:hover {
    background: hsla(0, 100%, 50%, 0.589);
    border-radius: 15%;
    box-shadow: 0 0 10px #ff0000, 0 0 30px #ff0101, 0 0 10px #ff0000;
}

.contenedor-nav__img {
    padding: 5px 10px 20px 20px;
    width: 125px;
    height: 110px;
    float: left;
}

/* perfil*/

.contenedor-nav__imgperfil {
    text-decoration: none;
    width: 60px;
    height: 60px;
    line-height: 45px;
    margin-right: 10px;
    margin-top: 10px;
    text-align: right;
    transition: all 300ms ease;
    float: right;
}

.contenedor-nav__imgperfil:hover {
    background-color: rgba(255, 255, 255, 0.575);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0 0 15px #aaa7a7, 0 0 40px #b1afaf, 0 0 80px #b4b1b1;
}

/* carrito*/

.contenedor-nav__imgshop {
    text-decoration: none;
    width: 55px;
    height: 55px;
    line-height: 45px;
    margin-right: 20px;
    margin-top: 10px;
    text-align: right;
    transition: all 300ms ease;
    float: right;
}

.contenedor-nav__imgshop:hover {
    background-color: rgba(255, 255, 255, 0.575);
    width: 70px;
    height: 70px;
    border-radius: 20%;
    box-shadow: 0 0 15px #aaa7a7, 0 0 40px #b1afaf, 0 0 80px #b4b1b1;
}

/* home*/
.textos-home{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.textos-home h1{
    font-size: 150px;
    color: white;
    font-family: sans-serif;
    font-weight: 800;
}

/* boton de inicio Sobre Nosotros */
.textos-home-link{
    background: hsla(0, 0%, 22%, 0.493);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: 800;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: white;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.textos-home-link:hover{
    background: #0099ff;
    box-shadow: 0 0 10px #0099ff, 0 0 40px #0099ff, 0 0 80px #008cff;
    transition-delay: 1s;
}
.textos-home-link span{
    position: absolute;
    display: block;
}

#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #1100ff);
}

.textos-home-link:hover #span1{
    left: 100%;
    transition: 1s;
}

#span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2600ff);
}

.textos-home-link:hover #span3{
    right: 100%;
    transition: 1s;
    transition: 0.5s;
}

#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #0011ff);
}

.textos-home-link:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #0400ff);
}

.textos-home-link:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.10s;
}

/* wave */

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* pie de pagina */

.pie-pagina{
    width: 100%;
    background-color: rgb(14, 15, 15);
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
    width: 150px;
}

.pie-pagina .grupo-1 .box h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-right: 10px;
    background-color: #0c141d;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}

.pie-pagina .grupo-2{
    background-color: #1c1e20;
    padding: 15px 10px;
    text-align: center;
    color: white;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;

}

@media screen and(max-width:800px){
    .pie-pagina .grupo-1{
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;
    }
}

.facebook-logo{
    width: 50px;
    height: 50px;
}

.instragram-logo{
    width: 50px;
    height: 50px;
}



