@import "variables";

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
   font-weight: 700;
}

/* scroll-website */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: rgb(240, 114, 114);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #eb7676;
}

::-webkit-scrollbar-track {
    background: #595959;
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}

/* navegador/textos/img-logo  */

.headerr {
    width: 100%;
    height: 900px;
    background: #659999;
    background: -webkit-linear-gradient(to right, hsla(180, 54%, 40%, 0.315), hsla(25, 45%, 46%, 0.301)), url(../images/ilustraciones/Menu-img.png);
    background: linear-gradient(to right, hsla(180, 54%, 40%, 0.315), hsla(25, 45%, 46%, 0.301)), url(../images/ilustraciones/Menu-img.png);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    .contenedor-nav {
        padding: 0px 30px 15px 0;
        background-color: hsla(0, 0%, 9%, 0.712);
        text-align: center;
        font-family: sans-serif;
        font-weight: 800;
        color: $c-blanco;
        z-index: 2;
        .banner a{
            float: left;
            img{
                padding: 5px 10px 20px 20px;
                width: 125px;
                height: 110px;
            }
        }
        .usuario a img{
            text-decoration: none;
            width: 60px;
            height: 60px;
            line-height: 45px;
            margin-right: 10px;
            margin-top: 10px;
            text-align: right;
            transition: all 300ms ease;
            float: right;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.575);
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    box-shadow: 0 0 15px #aaa7a7, 0 0 40px #b1afaf, 0 0 80px #b4b1b1;
                }
        }
        .carrito a img{
            text-decoration: none;
            width: 55px;
            height: 55px;
            line-height: 45px;
            margin-right: 20px;
            margin-top: 10px;
            text-align: right;
            transition: all 300ms ease;
            float: right;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.575);
                    width: 70px;
                    height: 70px;
                    border-radius: 20%;
                    box-shadow: 0 0 15px #aaa7a7, 0 0 40px #b1afaf, 0 0 80px #b4b1b1;
                }
        }
        h1 {
            font-size: $fontnavh1;
            padding: 20px 70px 10px 10px;
            line-height: 2;
            color: $c-blanco;
            text-align: left;
            text-transform: uppercase;
            font-family: sans-serif;
            font-weight: 800;
            display: flex;
            flex-direction: row;
            text-shadow: 2px 2px 7px $c-negro-1, 2px 2px 7px $c-negro-2, 2px 2px 7px $c-negro-1;
        }

        .nav__text {
            font-size: 20px;
            text-decoration: none;
            text-shadow: 2px 2px 7px $c-negro-1, 2px 2px 7px $c-negro-2, 2px 2px 7px $c-negro-1;
            .menu-nav {
                display: flex;
                justify-content: space-evenly;
                list-style: none;
                padding: 0%;
                width: 50%;
                max-width: 1000px;
                margin: auto;
                li {
                    display: inline-block;
                    text-align: center;
                    a {
                        text-decoration: none;
                        color: $c-blanco;
                        padding: 10px;
                        display: block;
                        &:hover {
                            background: hsla(0, 100%, 50%, 0.589);
                            transition: 350ms;
                            border-radius: 15%;
                            box-shadow: 0 0 10px $c-rojo, 0 0 30px $c-rojo, 0 0 10px $c-rojo;
                        }
                    }
                }
            }
        }
    }
        /* home*/
    .textos-home {
        display: flex;
        height: 430px;
        width: $wdt;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h1 {
            font-size: $fonth1;
            color: $c-blanco;
            font-family: sans-serif;
            font-weight: 800;
            text-shadow: 50px 50px 50px $c-negro-1, 2px 2px 2px $c-negro-2, 2px 2px 80px $c-negro-1;
        }

        h2 {
            height: 430px;
            font-weight: 800;
            color: white;
            font-family: sans-serif;
            font-size: 100px;
            text-shadow: 50px 50px 50px $c-negro-1, 2px 2px 2px $c-negro-2, 2px 2px 80px $c-negro-1;
        }
    }
    /* boton de inicio  */

    .textos-home-link {
        background: hsla(0, 0%, 22%, 0.493);
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: sans-serif;
        font-weight: 800;
        position: relative;
        top: 30px;
        display: inline-block;
        padding: 15px 30px 30px 30px;
        color: white;
        font-size: 30px;
        text-decoration: none;
        overflow: hidden;
        transition: 0.2s;
            &:hover {
                background: $c-rojo;
                box-shadow: 0 0 10px $c-rojo, 0 0 40px $c-rojo, 0 0 80px $c-rojo;
                transition-delay: 155ms;

            }
    }
    /* wave */

    .wave {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

}

.headerrr {
    width: 100%;
    height: 900px;
    background: #659999;
    background: -webkit-linear-gradient(to right, hsla(180, 54%, 40%, 0.315), hsla(25, 45%, 46%, 0.301)), url(../images/Restaurant-img/restaurant.png);
    background: linear-gradient(to right, hsla(180, 54%, 40%, 0.315), hsla(25, 45%, 46%, 0.301)), url(../images/Restaurant-img/restaurant.png);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    .contenedor-nav {
        padding: 0px 30px 15px 0;
        background-color: hsla(0, 0%, 9%, 0.712);
        text-align: center;
        font-family: sans-serif;
        font-weight: 800;
        color: $c-blanco;
        z-index: 2;
        .banner a{
            float: left;
            img{
                padding: 5px 10px 20px 20px;
                width: 125px;
                height: 110px;
            }
        }
        .usuario a img{
            text-decoration: none;
            width: 60px;
            height: 60px;
            line-height: 45px;
            margin-right: 10px;
            margin-top: 10px;
            text-align: right;
            transition: all 300ms ease;
            float: right;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.575);
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    box-shadow: 0 0 15px #aaa7a7, 0 0 40px #b1afaf, 0 0 80px #b4b1b1;
                }
        }
        .carrito a img{
            text-decoration: none;
            width: 55px;
            height: 55px;
            line-height: 45px;
            margin-right: 20px;
            margin-top: 10px;
            text-align: right;
            transition: all 300ms ease;
            float: right;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.575);
                    width: 70px;
                    height: 70px;
                    border-radius: 20%;
                    box-shadow: 0 0 15px #aaa7a7, 0 0 40px #b1afaf, 0 0 80px #b4b1b1;
                }
        }
        h1 {
            font-size: $fontnavh1;
            padding: 20px 70px 10px 10px;
            line-height: 2;
            color: $c-blanco;
            text-align: left;
            text-transform: uppercase;
            font-family: sans-serif;
            font-weight: 800;
            display: flex;
            flex-direction: row;
            text-shadow: 2px 2px 7px $c-negro-1, 2px 2px 7px $c-negro-2, 2px 2px 7px $c-negro-1;
        }

        .nav__text {
            font-size: 20px;
            text-decoration: none;
            text-shadow: 2px 2px 7px $c-negro-1, 2px 2px 7px $c-negro-2, 2px 2px 7px $c-negro-1;
            .menu-nav {
                display: flex;
                justify-content: space-evenly;
                list-style: none;
                padding: 0%;
                width: 50%;
                max-width: 1000px;
                margin: auto;
                li {
                    display: inline-block;
                    text-align: center;
                    a {
                        text-decoration: none;
                        color: $c-blanco;
                        padding: 10px;
                        display: block;
                        &:hover {
                            background: hsla(0, 100%, 50%, 0.589);
                            transition: 350ms;
                            border-radius: 15%;
                            box-shadow: 0 0 10px $c-rojo, 0 0 30px $c-rojo, 0 0 10px $c-rojo;
                        }
                    }
                }
            }
        }
    }
        /* home*/
    .textos-home {
        display: flex;
        height: 430px;
        width: $wdt;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h1 {
            font-size: $fonth1;
            color: $c-blanco;
            font-family: sans-serif;
            font-weight: 800;
            text-shadow: 50px 50px 50px $c-negro-1, 2px 2px 2px $c-negro-2, 2px 2px 80px $c-negro-1;
        }

        h2 {
            height: 430px;
            font-weight: 800;
            color: $c-blanco;
            font-family: sans-serif;
            font-size: 100px;
            text-shadow: 50px 50px 50px $c-negro-1, 2px 2px 2px $c-negro-2, 2px 2px 80px $c-negro-1;
        }
    }
    /* boton de inicio  */

    .textos-home-link {
        background: hsla(0, 0%, 22%, 0.493);
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: sans-serif;
        font-weight: 800;
        position: relative;
        top: 30px;
        display: inline-block;
        padding: 15px 30px 30px 30px;
        color: $c-blanco;
        font-size: 30px;
        text-decoration: none;
        overflow: hidden;
        transition: 0.2s;
            &:hover {
                background: $c-rojo;
                box-shadow: 0 0 10px $c-rojo, 0 0 40px $c-rojo, 0 0 80px $c-rojo;
                transition-delay: 155ms;

            }
    }
    /* wave */

    .wave {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

.header {
    width: 100%;
    height: 900px;
    background: #659999;
    background: -webkit-linear-gradient(to right, hsla(180, 54%, 40%, 0.315), hsla(25, 45%, 46%, 0.301)), url(../images/Comidas/Hamburgesa.jpg);
    background: linear-gradient(to right, hsla(180, 54%, 40%, 0.315), hsla(25, 45%, 46%, 0.301)), url(../images/Comidas/Hamburgesa.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;

    .contenedor-nav {
        padding: 0px 30px 15px 0;
        background-color: hsla(0, 0%, 9%, 0.712);
        text-align: center;
        font-family: sans-serif;
        font-weight: 800;
        color: $c-blanco;
        z-index: 2;
        .banner a{
            float: left;
            img{
                padding: 5px 10px 20px 20px;
                width: 125px;
                height: 110px;
            }
        }
        .usuario a img{
            text-decoration: none;
            width: 60px;
            height: 60px;
            line-height: 45px;
            margin-right: 10px;
            margin-top: 10px;
            text-align: right;
            transition: all 300ms ease;
            float: right;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.575);
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    box-shadow: 0 0 15px #aaa7a7, 0 0 40px #b1afaf, 0 0 80px #b4b1b1;
                }
        }
        .carrito a img{
            text-decoration: none;
            width: 55px;
            height: 55px;
            line-height: 45px;
            margin-right: 20px;
            margin-top: 10px;
            text-align: right;
            transition: all 300ms ease;
            float: right;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.575);
                    width: 70px;
                    height: 70px;
                    border-radius: 20%;
                    box-shadow: 0 0 15px #aaa7a7, 0 0 40px #b1afaf, 0 0 80px #b4b1b1;
                }
        }
        h1 {
            font-size: $fontnavh1;
            padding: 20px 70px 10px 10px;
            line-height: 2;
            color: $c-blanco;
            text-align: left;
            text-transform: uppercase;
            font-family: sans-serif;
            font-weight: 800;
            display: flex;
            flex-direction: row;
            text-shadow: 2px 2px 7px $c-negro-1, 2px 2px 7px $c-negro-2, 2px 2px 7px $c-negro-1;
        }

        .nav__text {
            font-size: 20px;
            text-decoration: none;
            text-shadow: 2px 2px 7px $c-negro-1, 2px 2px 7px $c-negro-2, 2px 2px 7px $c-negro-1;
            .menu-nav {
                display: flex;
                justify-content: space-evenly;
                list-style: none;
                padding: 0%;
                width: 50%;
                max-width: 1000px;
                margin: auto;
                li {
                    display: inline-block;
                    text-align: center;
                    a {
                        text-decoration: none;
                        color: $c-blanco;
                        padding: 10px;
                        display: block;
                        &:hover {
                            background: hsla(0, 100%, 50%, 0.589);
                            transition: 350ms;
                            border-radius: 15%;
                            box-shadow: 0 0 10px $c-rojo, 0 0 30px $c-rojo, 0 0 10px $c-rojo;
                        }
                    }
                }
            }
        }
    }
    /* home*/
    .textos-home {
        display: flex;
        height: 430px;
        width: $wdt;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h1 {
            font-size: $fonth1;
            color: $c-blanco;
            font-family: sans-serif;
            font-weight: 800;
            text-shadow: 50px 50px 50px $c-negro-1, 2px 2px 2px $c-negro-2, 2px 2px 80px $c-negro-1;
        }

        h2 {
            height: 430px;
            font-weight: 800;
            color: white;
            font-family: sans-serif;
            font-size: 100px;
            text-shadow: 50px 50px 50px $c-negro-1, 2px 2px 2px $c-negro-2, 2px 2px 80px $c-negro-1;
        }
    }
    /* boton de inicio  */

    .textos-home-link {
        background: hsla(0, 0%, 22%, 0.493);
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: sans-serif;
        font-weight: 800;
        position: relative;
        top: 30px;
        display: inline-block;
        padding: 15px 30px 30px 30px;
        color: white;
        font-size: 30px;
        text-decoration: none;
        overflow: hidden;
        transition: 0.2s;
            &:hover {
                background: $c-rojo;
                box-shadow: 0 0 10px $c-rojo, 0 0 40px $c-rojo, 0 0 80px $c-rojo;
                transition-delay: 155ms;

            }
    }
    /* wave */

    .wave {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

/* pie de pagina  footer*/
    .pie-pagina {
        width: 100%;
        background-color: rgb(14, 15, 15);
        .grupo-1 {
            width: 100%;
            max-width: 1200px;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 50px;
            padding: 45px 0px;
            .box{
                figure {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 150px;
                    }
                }
                h2{
                    color: $c-blanco;
                    margin-bottom: 25px;
                    font-size: 20px;
                }
                p {
                    color: #efefef;
                    margin-bottom: 10px;
                    line-height: 1.5;
                }
            }
            .red-social{
                a {
                    display: inline-block;
                    text-decoration: none;
                    width: 45px;
                    height: 45px;
                    line-height: 45px;
                    margin-right: 10px;
                    background-color: #0c1116;
                    text-align: center;
                    transition: all 300ms ease;
                        &:hover {
                            color: aqua;
                        }
                }
                .facebook-logo {
                    width: 50px;
                    height: 50px;
                }
                .instragram-logo {
                    width: 50px;
                    height: 50px;
                }
            }
        }
        .grupo-2 {
            background-color: #1c1e20;
            padding: 15px 10px;
            text-align: center;
            color: white;
            small {
                font-size: 15px;
                margin: 10px;
            }
        }
}




