.header{
    width: 100%;
    height: 900px;
    background: #659999;
    background:  url(../images/ilustraciones/Ilustracion2.png);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
