@import "variables";

/* ajuste a mobile */


@media only screen and (max-width: 425px) {

        .header {
            background: url(../images/Comidas/fondo1.jpg);
            background-position-x: right;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 870px;
            .contenedor-nav {
                padding: 0px 0px 15px 0px;
                background-color: hsla(0, 0%, 9%, 0.712);
                text-align: center;
                font-family: sans-serif;
                font-weight: 800;
                color: white;
                .banner a{
                    float: left;
                    img{
                        width: 110px;
                        height: 95px;
                        float: left;
                    }
                }
                .usuario a img{
                    text-decoration: none;
                    width: 40px;
                    height: 40px;
                    margin-right: 10px;
                    margin-top: 10px;
                    text-align: right;
                    transition: all 300ms ease;
                    float: right;
                        &:hover {
                            background-color: rgba(255, 255, 255, 0.575);
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            box-shadow: 0 0 15px #aaa7a7, 0 0 40px #b1afaf, 0 0 80px #b4b1b1;
                        }
                }
                .carrito a img{
                    text-decoration: none;
                    width: 35px;
                    height: 35px;
                    margin-right: 20px;
                    margin-top: 10px;
                    text-align: right;
                    transition: all 300ms ease;
                    float: right;
                        &:hover {
                            background-color: rgba(255, 255, 255, 0.575);
                            width: 50px;
                            height: 50px;
                            border-radius: 20%;
                            box-shadow: 0 0 15px #aaa7a7, 0 0 40px #b1afaf, 0 0 80px #b4b1b1;
                        }
                }
                h1 {
                    font-size: 20px;
                    font-family: sans-serif;
                    font-weight: 800;
                }
                .nav__text {
                    font-size: 15px;
                    .menu-nav {
                        display: flex;
                        flex-direction: row;
                        list-style: none;
                        padding: 0%;
                        width: 40%;
                        max-width: 1000px;
                        margin: auto;
                        li {
                            display: inline-block;
                            text-align: center;
                            padding: 5px;
                            a {
                                text-decoration: none;
                                color: $c-blanco;
                                padding: 10px;
                                display: block;
                                &:hover {
                                    background: hsla(0, 100%, 50%, 0.589);
                                    transition: 100ms;
                                    border-radius: 15%;
                                    box-shadow: 0 0 10px $c-rojo, 0 0 30px $c-rojo, 0 0 10px $c-rojo;
                                }
                            }
                        }
                    }
                }
            }
            /* home*/
            .textos-home {
                height: 350px;
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                h1 {
                    font-size: 80px;
                    color: $c-blanco;
                    font-family: sans-serif;
                    font-weight: 800;
                }
                // crear condicion para desactivar en los otros css
                h2 {
                    height: 200px;
                    font-weight: 800;
                    color: $c-blanco;
                    font-family: sans-serif;
                    font-size: 50px;
                }
            }
            .textos-home-link {
                background: hsla(0, 0%, 22%, 0.493);
                    margin: 10px;
                    padding: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: sans-serif;
                    font-weight: 800;
                    position: relative;
                    top: 50px;
                    display: inline-block;
                    padding: 15px 30px 40px 30px;
                    color: white;
                    font-size: 30px;
                    text-decoration: none;
                    overflow: hidden;
                    transition: 0.1s;
                    &:hover {
                        background: $c-rojo;
                        box-shadow: 0 0 10px $c-rojo, 0 0 40px $c-rojo, 0 0 80px $c-rojo;
                        transition-delay: 155ms;

                    }
            }
    }
        .headerr {
            background: url(../images/ilustraciones/Menu-img.png);
            background-position-x: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 870px;
            .contenedor-nav {
                padding: 0px 0px 15px 0px;
                background-color: hsla(0, 0%, 9%, 0.712);
                text-align: center;
                font-family: sans-serif;
                font-weight: 800;
                color: white;
                .banner a{
                    float: left;
                    img{
                        width: 110px;
                        height: 95px;
                        float: left;
                    }
                }
                .usuario a img{
                    text-decoration: none;
                    width: 40px;
                    height: 40px;
                    margin-right: 10px;
                    margin-top: 10px;
                    text-align: right;
                    transition: all 300ms ease;
                    float: right;
                        &:hover {
                            background-color: rgba(255, 255, 255, 0.575);
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            box-shadow: 0 0 15px #aaa7a7, 0 0 40px #b1afaf, 0 0 80px #b4b1b1;
                        }
                }
                .carrito a img{
                    text-decoration: none;
                    width: 35px;
                    height: 35px;
                    margin-right: 20px;
                    margin-top: 10px;
                    text-align: right;
                    transition: all 300ms ease;
                    float: right;
                        &:hover {
                            background-color: rgba(255, 255, 255, 0.575);
                            width: 50px;
                            height: 50px;
                            border-radius: 20%;
                            box-shadow: 0 0 15px #aaa7a7, 0 0 40px #b1afaf, 0 0 80px #b4b1b1;
                        }
                }
                h1 {
                    font-size: 20px;
                    font-family: sans-serif;
                    font-weight: 800;
                }
                .nav__text {
                    font-size: 15px;
                    .menu-nav {
                        display: flex;
                        flex-direction: row;
                        list-style: none;
                        padding: 0%;
                        width: 40%;
                        max-width: 1000px;
                        margin: auto;
                        li {
                            display: inline-block;
                            text-align: center;
                            padding: 5px;
                            a {
                                text-decoration: none;
                                color: $c-blanco;
                                padding: 10px;
                                display: block;
                                &:hover {
                                    background: hsla(0, 100%, 50%, 0.589);
                                    transition: 100ms;
                                    border-radius: 15%;
                                    box-shadow: 0 0 10px $c-rojo, 0 0 30px $c-rojo, 0 0 10px $c-rojo;
                                }
                            }
                        }
                    }
                }
            }
            /* home*/
            .textos-home {
                height: 350px;
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                h1 {
                    font-size: 50px;
                    color: $c-blanco;
                    font-family: sans-serif;
                    font-weight: 800;
                }
            }
            .textos-home-link {
                background: hsla(0, 0%, 22%, 0.493);
                    margin: 10px;
                    padding: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: sans-serif;
                    font-weight: 800;
                    position: relative;
                    top: 50px;
                    display: inline-block;
                    padding: 15px 30px 40px 30px;
                    color: white;
                    font-size: 30px;
                    text-decoration: none;
                    overflow: hidden;
                    transition: 0.1s;
                    &:hover {
                        background: $c-rojo;
                        box-shadow: 0 0 10px $c-rojo, 0 0 40px $c-rojo, 0 0 80px $c-rojo;
                        transition-delay: 155ms;

                    }
            }
    }
        .headerrr {
            background: url(../images/Restaurant-img/restaurant.png);
            background-position-x: right;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 870px;
            .contenedor-nav {
                padding: 0px 0px 15px 0px;
                background-color: hsla(0, 0%, 9%, 0.712);
                text-align: center;
                font-family: sans-serif;
                font-weight: 800;
                color: white;
                .banner a{
                    float: left;
                    img{
                        width: 110px;
                        height: 95px;
                        float: left;
                    }
                }
                .usuario a img{
                    text-decoration: none;
                    width: 40px;
                    height: 40px;
                    margin-right: 10px;
                    margin-top: 10px;
                    text-align: right;
                    transition: all 300ms ease;
                    float: right;
                        &:hover {
                            background-color: rgba(255, 255, 255, 0.575);
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            box-shadow: 0 0 15px #aaa7a7, 0 0 40px #b1afaf, 0 0 80px #b4b1b1;
                        }
                }
                .carrito a img{
                    text-decoration: none;
                    width: 35px;
                    height: 35px;
                    margin-right: 20px;
                    margin-top: 10px;
                    text-align: right;
                    transition: all 300ms ease;
                    float: right;
                        &:hover {
                            background-color: rgba(255, 255, 255, 0.575);
                            width: 50px;
                            height: 50px;
                            border-radius: 20%;
                            box-shadow: 0 0 15px #aaa7a7, 0 0 40px #b1afaf, 0 0 80px #b4b1b1;
                        }
                }
                h1 {
                    font-size: 20px;
                    font-family: sans-serif;
                    font-weight: 800;
                }
                .nav__text {
                    font-size: 15px;
                    .menu-nav {
                        display: flex;
                        flex-direction: row;
                        list-style: none;
                        padding: 0%;
                        width: 40%;
                        max-width: 1000px;
                        margin: auto;
                        li {
                            display: inline-block;
                            text-align: center;
                            padding: 5px;
                            a {
                                text-decoration: none;
                                color: $c-blanco;
                                padding: 10px;
                                display: block;
                                &:hover {
                                    background: hsla(0, 100%, 50%, 0.589);
                                    transition: 100ms;
                                    border-radius: 15%;
                                    box-shadow: 0 0 10px $c-rojo, 0 0 30px $c-rojo, 0 0 10px $c-rojo;
                                }
                            }
                        }
                    }
                }
            }
            /* home*/
            .textos-home {
                height: 350px;
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                h1 {
                    font-size: 40px;
                    color: $c-blanco;
                    font-family: sans-serif;
                    font-weight: 800;
                }

            }
            .textos-home-link {
                background: hsla(0, 0%, 22%, 0.493);
                    margin: 10px;
                    padding: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: sans-serif;
                    font-weight: 800;
                    position: relative;
                    top: 50px;
                    display: inline-block;
                    padding: 15px 30px 40px 30px;
                    color: white;
                    font-size: 30px;
                    text-decoration: none;
                    overflow: hidden;
                    transition: 0.1s;
                    &:hover {
                        background: $c-rojo;
                        box-shadow: 0 0 10px $c-rojo, 0 0 40px $c-rojo, 0 0 80px $c-rojo;
                        transition-delay: 155ms;

                    }
            }
    }
    .titulos-combos-inicio{
        .titulo-sect-combos{
            color: #ffffff;
            background-color: hsl(0, 0%, 0%);
            text-decoration: none;
            font-size: 30px;
            line-height: 2.0;
            font-family: sans-serif;
            text-align: center;
            font-weight: 800;
            text-shadow: 2px 2px 7px rgb(116, 116, 116), 2px 2px 7px rgb(255, 255, 255), 2px 2px 7px #0c1116;
        }
        .titulo-h4-combos{
            color: $c-blanco;
            background-color: hsla(0, 0%, 0%, 0.904);
            text-decoration: none;
            font-size: 20px;
            font-family: sans-serif;
            text-align: center;
            font-weight: 800;
            text-shadow: 2px 2px 7px rgb(105, 105, 105), 2px 2px 7px rgb(223, 223, 223), 2px 2px 7px #0c1116;
        }
    }
    .sect-combos{
        padding: 10px 20px 20px 10px;
        background-image: url(../images/ilustraciones/Menu-img2.png);
        background-position-x: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 1200px;
        width: 100%;
        padding: 20px;
        .menu-combos{
            background: none;
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;
            justify-content: center;
            gap: 0px;
            .combos{
                background-color: rgb(228, 227, 227);
                border-radius: 15px;
                box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.6);
                width: 380px;
                display: inline-block;
                justify-content: space-around;
                margin: 25px;
                align-items: center;
                text-align: center;
                h3{
                    margin: 20px;
                    color: rgb(255, 255, 255);
                    font-size: 25px;
                    font-family: sans-serif;
                    font-weight: 800;
                    text-shadow: 2px 2px 7px $c-negro-1, 2px 2px 7px $c-negro-2, 2px 2px 7px #0c1116;
                }
                .combos-text{
                    margin: 20px;
                    font-size: 15px;
                    font-family: sans-serif;
                    font-weight: 700;
                    color: rgb(255, 255, 255);
                    text-shadow: 2px 2px 7px #222, 2px 2px 7px #333, 2px 2px 7px #0c1116;
                }
                /* zoom de img */
                .container-img{
                    width: 100%;
                    height: 30vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    figure{
                        width: 320px;
                        height: 260px;
                        overflow: hidden;
                        transition: all 500ms ease;
                        img{
                            width: 100%;
                            height: 100%;
                            transition: all 500ms ease;
                            .contenedor-menu__img {
                                width: 90%;
                                height: 430px;
                            }
                                &:hover{
                                    transform: scale(1.2);
                                    cursor: pointer;
                                }
                        }
                    }
                }
                .combo-img{
                    width: 300px;
                    height: 240px;
                }
                .contenedor-BuyButtom {
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    .buttom {
                        background: hsla(0, 0%, 8%, 0.815);
                        color: rgb(255, 255, 255);
                        display: inline;
                        width: 200px;
                        height: 50px;
                        font-family: sans-serif;
                        font-size: 15px;
                        font-weight: 600;
                        border: none;
                        cursor: pointer;
                        border-radius: 5px;
                        margin: 0px;
                        &:hover{
                            background-color: #f86e6e;
                            color: black;
                            box-shadow: 0 0 10px #f86e6e, 0 0 10px #000000, 0 0 30px #000000;
                            transition: 300ms;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
    .menu {
        background: rgb(27, 27, 27);
        width: 100%;
        padding: 20px;
        .contenedor-menu {
            background: none;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr;
            align-items: center;
            justify-content: center;
            gap: 0px;
            .burger-menu {
                background-color: rgb(228, 227, 227);
                border-radius: 15px;
                box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.6);
                width: 380px;
                display: inline-block;
                justify-content: space-around;
                margin: 25px;
                align-items: center;
                text-align: center;
                h3 {
                    line-height: 2;
                    color: $c-blanco;
                    font-size: 25px;
                    margin: 20px;
                    font-family: sans-serif;
                    font-weight: 800;
                    font-style: normal;
                    text-shadow: 2px 2px 7px $c-negro-1, 2px 2px 7px $c-negro-2, 2px 2px 7px $c-negro-1;
                }
                .h3-pollo {
                    font-size: 25px;
                    color: $c-blanco;
                    margin: 20px;
                    line-height: 2;
                    text-shadow: 2px 2px 7px $c-negro-1, 2px 2px 7px $c-negro-2, 2px 2px 7px #0c1116;
                }
                /* zoom de img */
                .container-img{
                    width: 100%;
                    height: 35vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    figure{
                        width: 300px;
                        height: 270px;
                        overflow: hidden;
                        transition: all 500ms ease;
                        img{
                            width: 100%;
                            height: 100%;
                            transition: all 500ms ease;
                            .contenedor-menu__img {
                                width: 70%;
                                height: 300px;
                            }
                                &:hover{
                                    transform: scale(1.2);
                                    cursor: pointer;
                                }
                        }
                    }
                }
                .menu-text p{
                    color: $c-blanco;
                    margin: 20px;
                    text-align: center;
                    justify-content: center;
                    flex-direction: column;
                    font-size: 15px;
                    font-family: sans-serif;
                    font-weight: 800;
                }
                /* boton de compra */
                .contenedor-BuyButtom {
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    .buttom {
                        background: hsla(0, 0%, 8%, 0.815);
                        color: rgb(255, 255, 255);
                        display: inline;
                        width: 200px;
                        height: 50px;
                        font-family: sans-serif;
                        font-size: 15px;
                        font-weight: 600;
                        border: none;
                        cursor: pointer;
                        border-radius: 5px;
                        margin: 0px;
                        &:hover{
                            background-color: #f86e6e;
                            color: black;
                            box-shadow: 0 0 10px #f86e6e, 0 0 10px #000000, 0 0 30px #000000;
                            transition: 300ms;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }

    .buttom-h2 {
        color: $c-blanco;
        background-color: hsla(0, 0%, 0%, 0.904);
        text-decoration: none;
        font-size: 40px;
        font-family: sans-serif;
        text-align: center;
        font-weight: 800;
    }

    .next-page {
        background: black;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        .textos-link {
            background: hsla(0, 0%, 22%, 0.493);
            margin: 20px;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: sans-serif;
            font-weight: 800;
            position: relative;
            display: inline-block;
            padding: 15px 20px;
            color: white;
            font-size: 24px;
            text-decoration: none;
            overflow: hidden;
            transition: 0.1s;
                &:hover {
                    background: $c-rojo;
                    box-shadow: 0 0 10px $c-rojo, 0 0 40px $c-rojo, 0 0 80px $c-rojo;
                    transition-delay: 155ms;
                }
        }
    }

    .anuncios-section{
        // background-color: rgb(56, 42, 5);
        background: url(../images/Clientes-Img/fondo-2.png);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
                .anuncios-box{
                    width: 93%;
                    background-image: url(../images/ilustraciones/backgroundburger.png);
                    background-repeat: no-repeat;
                    border-radius: 30px;
                    box-shadow: 0 0 25px 0 rgba(255, 255, 255, 0.6);
                    margin: 15px;
                    .anuncios{
                        width: 95%;
                        overflow: hidden;
                        ul{
                            display: flex;
                            padding: 0;
                            width: 200%;
                            animation: cambio 5s infinite alternate;
                            li{
                                width: 50%;
                                padding: 25px;
                                list-style: none;
                                a{
                                    .img-ilus{
                                        width: 340px;
                                        height: 420px;
                                        border-radius: 30px;
                                    }
                                }
                            }
                        }
                    }
                    h2{
                        color: rgb(255, 255, 255);
                        text-shadow: 2px 2px 7px #222, 2px 2px 7px #333, 2px 2px 7px #0c1116;
                        font-size: 30px;
                        font-family: sans-serif;
                        font-weight: 800;
                        text-align: center;
                    }
                    .img-horarios{
                        width: 350px;
                        height: 500px;
                        margin: 0px 0px 20px 20px;
                        border-radius: 30px;
                    }
                }
    }

    /* cambio de img */
    @keyframes cambio{
        0% {margin-left: 0;}
        45%{margin-left: 0;}

        55%{margin-left: -100%;}
        100%{margin-left: -100%;}
    }

    .clientes{
        // background: radial-gradient(circle, rgb(122, 85, 17), rgb(173, 116, 25));
        background: url(../images/Clientes-Img/fondo-2.png);
        background-size:cover;
        background-position-x: center;
        width: 100%;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 20px;

        .clientes-perfil{
            background: url(../images/Clientes-Img/fondo.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position-y: center;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 250px;
            margin: 10px 0px;
            align-items: center;
            justify-content: space-evenly;
            border-radius: 30px;
            box-shadow: 0 0 15px 0 rgb(0, 0, 0);
        }

        .clientes-comentario{
            text-align: center;
            color: rgb(255, 255, 255);
            font-size: 15px;
            font-family: sans-serif;
            font-weight: 600;
            font-style: normal;
            text-shadow: 2px 2px 7px #222, 2px 2px 7px #333, 2px 2px 7px #0c1116;
        }

        .cliente-nombre{
            color: rgb(255, 255, 255);
            font-size: 25px;
            font-family: sans-serif;
            font-weight: 800;
            font-style: normal;
            text-shadow: 2px 2px 7px #222, 2px 2px 7px #333, 2px 2px 7px #0c1116;
        }

        .img-perfil{
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    .clientes-h2{
        font-size: 20px;
        color: $c-blanco;
        font-family: sans-serif;
        font-weight: 800;
        text-shadow: 50px 50px 50px $c-negro-1, 2px 2px 2px #a7a7a7, 2px 2px 80px $c-negro-1;
    }

    .about-restaurant{
        background: url(../images/Restaurant-img/restaurant.png);
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height: 770px;
                    .buttom-h2{
                        background:hsla(0, 0%, 0%, 0.945);
                        font-size: 30px;
                        line-height: 2;
                        text-align: center;
                        color: white;
                        font-family: sans-serif;
                        font-weight: 800;
                        text-shadow: 50px 50px 50px #222, 2px 2px 2px #333, 2px 2px 80px #0c1116;
                    }
                    .h3-text-rest{
                        background: hsla(0, 0%, 0%, 0.596);
                        border-radius: 20px;
                        padding: 20px;
                        text-align: center;
                        font-size: 20px;
                        color: white;
                        font-family: sans-serif;
                        font-weight: 800;
                        text-shadow: 50px 50px 50px #222, 2px 2px 2px #333, 2px 2px 80px #0c1116;
                        margin: 20px;
                    }
                    .text-rest{
                        font-size: 11px;
                        line-height: 2;
                        color: white;
                        text-align: left;
                        text-transform: uppercase;
                        font-family: sans-serif;
                        font-weight: 800;
                        display: flex;
                        flex-direction: row;
                        text-shadow: 2px 2px 7px #222, 2px 2px 7px #333, 2px 2px 7px #0c1116;
                        width: 80%;
                        margin: 5px;
                    }
                    .box{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        img{
                            width: 600;
                            height: 350px;
                        }
                    }
    }
    

    /* pie de pagina  footer*/
        .pie-pagina {
            width: 100%;
            background-color: rgb(14, 15, 15);
            .grupo-1 {
                width: $wdt;
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 0px;
                padding: 15px 30px;
                text-align: center;
                .box{
                    figure {
                        width: $wdt;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img {
                            width: 120px;
                        }
                    }
                    h2{
                        color: white;
                        margin-bottom: 25px;
                        font-size: 20px;
                    }
                    p {
                        color: #efefef;
                        margin-bottom: 10px;
                    }
                }
                .red-social{
                    a {
                        display: inline-block;
                        text-decoration: none;
                        width: 45px;
                        height: 45px;
                        line-height: 45px;
                        margin-right: 10px;
                        background-color: #0c1116;
                        text-align: center;
                        transition: all 300ms ease;
                            &:hover {
                                color: aqua;
                            }
                    }
                    .facebook-logo {
                        width: 50px;
                        height: 50px;
                    }
                    .instragram-logo {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
            .grupo-2 {
                background-color: #1c1e20;
                padding: 15px 10px;
                text-align: center;
                color: $c-blanco;
                small {
                    font-size: 15px;
                    margin: 10px;
                }
            }
    }

}
