// colores
$c-rojo:#ff0000;
$c-amarillo:#ffd000;
$c-celeste:#00b7ff;
$c-gris:#aaa7a7;
$c-negro-1:#222;
$c-negro-2:#333;
$c-blanco:white;

//  ancho
$wdt:100%;

// tamaño de fuente
$fonth1: 150px;
$fontnavh1: 30px;