@import "header";
@import "navbar";
@import "homeUs";
@import "inicioUs";
@import "anuncios";
@import "clientes";
@import "footerUs";
@import "mobileresponsive";


*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


/* scroll-website */

::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb{
    background: rgb(240, 114, 114); ;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover{
    background: #eb7676;
}

::-webkit-scrollbar-track{
    background: #595959;
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}